    <footer>
      <div class="row">
        <div class="col-xs-6 ">
          <ul class="footer-nav">
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-xs-6 ">
          <ul class="social-links">
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <p>
          Copyright &copy; 2018 by ThriftFindr. All rights reserved.
        </p>
      </div>
    </footer>   
