<div class="no-results-wrapper">
    <img class="no-results-image" src="/images/tshirt.svg">
    <h1>No results found for <%= term %></h1>
    <p>Not here? Tell us what we're missing</p>
    <a class="btn purple-btn" href="thriftstores/new">Add a thriftstore</a>
</div>