        <div class="container">
            <div class="row search-wrapper">    
                <div class="col-xs-8 col-xs-offset-2">
                    <form action="/search" method="GET">
            		    <div class="input-group">
                            <div class="input-group-btn search-panel">
                                 <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                	<span id="search_concept">Filter by</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">Location</a></li>
                                  <li><a href="#">Store Name</a></li> 
                                  <!--<li class="divider"></li>
                                  <li><a href="#all">Anything</a></li>-->
                                </ul>
                            </div>
                            <input type="hidden" name="type" value="name" id="search_type">         
                            <input type="text" class="form-control" name="term" id="search_term" placeholder="Search..." value="<% if (locals.term){ %><%=term %><% } %>">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
        	</div>
        </div>
