        <div class="container">
            <div class="row search-wrapper">    
                <div class="col-xs-8 col-xs-offset-2 mobile-search">
                    <form action="/search" method="GET">
            		    <div class="input-group search-bar">
                            <input type="hidden" name="type" value="name" id="search_type">         
                            <input type="text" class="form-control index-search" name="term" id="search_term" placeholder="Search thriftstores" value="<% if (locals.term){ %><%=term %><% } %>">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                </div>
        	</div>
        </div>
