<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/register.css" media="screen"/>

  <div class="container aligner">
  <div class="row aligner-item">
    <div class="col-lg-6 col-md-offset-3">

      <h1>About Us</h1>
      <p>Thriftfindr was founded in 2017 to help people find great thriftstores around the world.</p>
      <p>We believe that reusing items can make the world a better place. </p>
      <p><a href="/">Get in touch.</a></p>

    </div>
  </div>
  </div>

<% include ./partials/scripts %>
<% include ./partials/footer %>
<% include ./partials/closingtags %>
