<% include ./partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/register.css" media="screen"/>

  <div class="container aligner">
  <div class="row aligner-item">
    <div class="col-lg-6 col-md-offset-3">

      <h1>Error</h1>
      <p>There was an error processing your message. Please try again later.</p>
      <p><a href="/">Return to the homepage.</a></p>

    </div>
  </div>
  </div>

<% include ./partials/scripts %>
<% include ./partials/footer %>
<% include ./partials/closingtags %>
