    <% include ../partials/header %>

    <header class="jumbotron-fluid picture-header">
        <div class="aligner">
            <div class="container-fluid aligner-item">
                <div class="welcome-message">
                    <h1>Welcome to ThriftFindr</h1>
                    <p class="description">View our handpicked thrift stores from all over the world</p>
                    <% include ../partials/search %>
                </div>
                <p class="text-center">
                    <a class="btn btn-primary btn-large" href="/thriftstores/new"><i class="fa fa-plus" aria-hidden="true"></i> add a new thrift store</a>
                </p>
            </div>
        </div>

    </header>

    <div class="container thrift-gallery">
    
    <div class="row thriftstore-display-header">
      <div class="col-xs-8"><h1>Newly Added Thriftstores</h1></div>
        <div class="col-xs-4"><div id="addicon"><h2><a href="/thriftstores/new"> 
<i class="fa fa-plus-circle add-store" aria-hidden="true" alt="add new thrifstore"></i></a></h2></div>
        <div id="onhovericon">add a new thriftstore</div> 
    </div>
    </div>
    
    
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <% thriftstores.forEach(function(thriftstore){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <a href="/thriftstores/<%=thriftstore._id %>">
                        <% if(thriftstore.image) { %> 
                    <img src="<%= thriftstore.image %>">
                        <% } else { %>
                    <img src="http://i.imgur.com/kntSEEW.jpg">
                    <% } %>
                    </a>
                    <div class="caption">
                        <a href="/thriftstores/<%=thriftstore._id %>"><h4 class="caption-link"><%= thriftstore.name %> </h4></a>
                        </div>
                        <% for(i = 0; i < thriftstore.pricegroup; i++) {%>
                            <i class="price-display fa fa-usd" aria-hidden="true"></i>
                            <% } %>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="scripts/searchbar.js" type="text/javascript" charset="utf-8"></script>

<% include ../partials/footer %>
