html,
body {
	margin:0;
	padding:0;
	height:100%;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#content {
	padding-bottom:180px; /* Height of the footer element */
}

#footer {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
}

.result {
	margin-top: 20px;
}

.search-bar{
	margin-top: 20px;
}

.input-group-btn .dropdown-toggle:not(:last-of-type) {
    border-radius: 0 !important;
}

.no-results-wrapper img, 
.no-results-wrapper h1, 
.no-results-wrapper p, 
.no-results-wrapper a {
	margin-bottom: 14px;
}

.no-results-wrapper a {
	margin-top: 3px;
}

.no-results-image {
	opacity: 0.85;
	display: block;
	margin: 0 auto;
	max-width: 120px;
}
